* {
  margin: 0;
}
.cell {
  background-color: silver;
  height: 100%;
  display: block;

}
.symbol {
  color: white;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 0px 0px 4px #000000;
}
.container {
  width: max-content;
  padding: 10px;
  margin: auto;
  background-color: #7a7474;
  margin-top: 20px;
  display: grid;
  grid-auto-rows: 35px; /* sets height */
  gap: 10px; /* gap between cells */
  border-radius: 10px;
  border: 5px solid #444444;
}

.symbolDiv {
  display: flex;
  height: calc(100% - 8px);
  justify-content: center;
  background-color: #bd5e2747;
  align-items: center;
  margin: 4px;
  
}
.square_id {
  font-size: 8px;
  color: gray;
  position: absolute;
  
}