* {
  margin: 0;
}
.cell {
  background-color: silver;
}
.title {
  text-align: center;
}

.symbol {
  color: white;
  text-align: center;
  font-size: 5;
}
.container {
  /* this centers */
  width: 900px;
  margin: auto;

  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-auto-rows: 30px; /* sets height */
  gap: 10px; /* gap between cells */
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px;
  margin: 20px auto;
  width: fit-content;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.cell:hover {
  background-color: darkgray;
}
.cell.revealed {
  background-color: #eee;
  color: black;
  font-weight: bold;
}
.number {
  color: black;
  font-weight: bold;
}
