* {
  margin: 0;
}
.cell {
  background-color: silver;
  width: 40px;
  height: 40px;
  margin: 1px;
  text-align: center;
  line-height: 40px;
}
.symbol {
  color: white;
  text-align: center;
  font-size: 5;
}
.container {
  /* this centers */
  width: 900px;
  margin: auto;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-auto-rows: 30px; /* sets height */
  gap: 1px; /* gap between cells */
}
